.popularContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 440px;
    background-color: #fff4ec;
    padding: 20px;
    border-radius: 6px;
}

.popularList {
    display: flex;
    gap: 10px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.popularTop {
    display: flex;
    justify-content: space-between;
}

.popularHeader {
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.popularAllButton {
    border: none;
    background: #fff4ec;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    cursor: pointer;
}

.allIcon {
    width: 20px;
    height: 20px;
}

.scrollButtons {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.scrollButton {
    position: absolute;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms all;
}

.scrollButton:hover {
    background-color: #f0f0f0;
}

.scrollLeft {
    left: 0px;
    z-index: 1;
}

.scrollRight {
    right: 0px;
}

.scrollIcon {
    font-size: 20px;
}