.productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.productItem {
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.productImage {
    width: 240px;
    height: 347px;
    margin-top: 5px;
}

.productTitle {
    font-weight: 900;
    padding: 0 10px;
}

.productPrice {
    color: #f27b1f;
    font-weight: 900;
    padding: 5px 10px;
}